.sidebar-consumidor{

    width:270px;

    min-height:100vh;

    background:#276749;

    padding:30px 20px;

    color:white;

    position:sticky;

    top:0;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:60px;

}

.logo-icon{

    width:48px;

    height:48px;

    border-radius:50%;

    background:white;

    color:#276749;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}

.logo h2{

    font-size:24px;

    font-weight:600;

    margin:0;

}

.logo p{

    font-size:14px;

    opacity:.8;

    margin:0;

}

nav{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.menu{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    border:none;

    border-radius:8px;

    background:transparent;

    color:white;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}

.menu:hover{

    background:rgba(255,255,255,.12);

}

.menu.active{

    background:white;

    color:#276749;

}
