.meus-resgates{

    margin-left:270px;

    padding:60px;

    background:#F7FAFC;

    min-height:100vh;

}

.meus-resgates h1{

    font-size:32px;

    color:#1A202C;

    margin-bottom:8px;

}

.meus-resgates p{

    color:#4A5568;

    margin-bottom:40px;

    font-size:16px;

}

.meus-resgates h2{

    margin-top:45px;

    margin-bottom:20px;

    color:#1A202C;

    font-size:24px;

}

.concluidos{

    margin-top:55px;

}

.titulo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:10px;

}

.titulo-icon{

    font-size:32px;

    color:#2F855A;

}

.meus-resgates{

    padding:60px;

    background:#F7FAFC;

    min-height:100vh;

}