.vitrine {

    flex: 1;
    
    margin-left: 270px;
    
    min-height: 100vh;
    
    background: #F7FAFC;
    
    padding: 50px;
}

.vitrine h1{

    font-size:30px;

    color:#1A202C;

    margin-bottom:8px;

}

.info-box{

    margin-top:25px;

    background:#D7F6F7;

    border-radius:8px;

    padding:18px;

    display:flex;

    gap:15px;

    align-items:flex-start;

}

.info-icon{

    font-size:22px;

}

.info-box span{

    font-size:14px;

    color:#2D3748;

}

.search-box{

    margin-top:30px;

}

.search-box input{

    width:100%;

    padding:14px 18px;

    border:1px solid #CBD5E0;

    border-radius:8px;

    outline:none;

    font-size:15px;

}

.search-box input:focus{

    border-color:#2F855A;

}

.categories{
    display:flex;

    flex-wrap:wrap;
    
    gap:15px;
    
    margin-top:25px;
}

.categories button{

    background:#2F855A;

    color:white;

    border:none;

    border-radius:8px;

    padding:10px 22px;

    cursor:pointer;

    font-size:14px;

    transition:.2s;

}

.categories button:hover{

    background:#276749;

}

.categories .active{

    background:#1F5A3A;

}

.produtos{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    
    gap:30px;
    
    margin-top:40px;
    
    align-items:start;
}

.descricao{

    color:#4A5568;
    
    font-size:16px;
    
    margin-bottom:20px;
}