.solicitacoes{

    margin-left:270px;

    padding:60px;

    background:#F7FAFC;

    min-height:100vh;

}

.solicitacoes h1{

    font-size:32px;

    color:#1A202C;

}

.solicitacoes p{

    color:#4A5568;

    margin-bottom:35px;

}

.titulo{

    display:flex;

    align-items:center;

    gap:15px;

    margin-bottom:10px;

}

.titulo-icon{

    font-size:32px;

    color:#2F855A;

}

.subtitulo{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.subtitulo span{

    font-weight:600;

    color:#2F855A;

}

.filtros{

    display:flex;

    gap:15px;

    margin:30px 0;

}

.filtros button{

    background:#2F855A;

    color:white;

    border:none;

    border-radius:8px;

    padding:10px 20px;

    cursor:pointer;

    transition:.2s;

}

.filtros button:hover{

    background:#276749;

}

.filtros .ativo{

    background:#1F5A3A;

}